<!doctype html>
<html>

<head>

	<meta charset="utf-8">
	<title>Briena Harmening</title>
	<link rel="shortcut icon" href="" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles/normalize.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<link rel="stylesheet" type="text/css" href="styles/materialPhoto.css">
	<!-- <link rel="stylesheet" type="text/css" href="https://ettrics.github.io/material-photo-gallery/dist/css/material-photo-gallery.css"> -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">


	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
	<script src="https://ettrics.github.io/material-photo-gallery/dist/js/material-photo-gallery.js"></script>







</head>

<body>

	<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<div ng-app="App" ng-controller="AppCtrl">





		<section layout="column" role="main" flex>



			<md-content>



				<section id="hero">


					<md-tabs md-dynamic-height>
						<md-tab id="landing">
							<md-tab-label><span hide-xs hide-sm><h2 style="font-size:1.5em;">Briena Harmening</h2></span><span show-xs show-sm hide-md hide-lg hide-gt-lg hide-xl><md-button class="md-fab menu-btn"><md-icon><i class="material-icons" style="color:#000;">home</i></md-icon></md-button></span></md-tab-label>
							<md-tab-body>
								<md-content style="background-color:transparent;">

									<span show-xs show-sm hide-md hide-lg hide-gt-lg hide-xl><h2>Briena Harmening</h2></span>


								</md-content>

							</md-tab-body>

						</md-tab>

						<md-tab>
							<md-tab-label>
								<md-button class="md-fab menu-btn">About</md-button>
							</md-tab-label>
							<md-tab-body>
								<md-content style="margin-top:1.5em; background-color:transparent;">
									<md-card id="about" class="cardStyle">
										<div class="contentContainer">
											<div class="autoMarg">
												<div class="column">
													<img class="aboutImg" src="styles/images/briena.jpg" alt="Briena Harmening">
												</div>

												<div class="contentColumn">
													<h3>Briena Harmening</h3>
													<p>
														Lives and works in Nashville, Tennessee. She is a 2010 MFA graduate from the University of Tennessee. Briena currently teaches Advanced Art, and the International Baccalaureate Art program at Hillsoboro High School.

													</p>
													<h2 class="helloBack"><a href="mailto:brienarharmening@yahoo.com">Briena Harmening At Yahoo Dot Com</a></h2>

												</div>

											</div>



										</div>
									</md-card>
								</md-content>
							</md-tab-body>

						</md-tab>

						<md-tab>
							<md-tab-label class="">
								<md-button class="md-fab menu-btn">Work</md-button>
							</md-tab-label>
							<md-tab-body>
								<md-content style="margin-top:1.5em; background-color:transparent;">
									<md-card class="">
										<div class="contentContainer">
											<md-tabs md-dynamic-height>
												<md-tab>
													<md-tab-label>
														<md-button class="md-fab" style="background:url(images/2015/DSC02758/thumb.jpg);" alt="2015 Collection" aria-label="2015 Collection">
														</md-button>
														<br>
														<p style="margin-top:-.7em;">2015 Collection</p>

													</md-tab-label>
													<md-tab-body>

														<md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
															<md-grid-tile ng-repeat="image in imgSource2015" class="md-whiteframe-4dp">
																<img src="{{image.thumb}}" alt="">
																<md-grid-tile-footer>
																	<h3>{{image.title}}</h3>
																	<h3>{{image.materials}}</h3>
																	<h3>{{image.dem}}</h3>
																</md-grid-tile-footer>
															</md-grid-tile>
														</md-grid-list>

													</md-tab-body>

												</md-tab>

												<md-tab>
													<md-tab-label>
														<md-button class="md-fab" style="background:url(images/2016/IMG_0761/thumb.jpg);" alt="2016 Collection" aria-label="2016 Collection">
														</md-button>
														<br>
														<p style="margin-top:-.7em;">2016 Collection</p>

													</md-tab-label>
													<md-tab-body>
														<md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
															<md-grid-tile ng-repeat="image in imgSource2016" class="md-whiteframe-4dp">
																<img src="{{image.thumb}}" alt="">
																<md-grid-tile-footer>
																	<h3>{{image.title}}</h3>
																	<h3>{{image.materials}}</h3>
																	<h3>{{image.dem}}</h3>
																</md-grid-tile-footer>
															</md-grid-tile>
														</md-grid-list>
													</md-tab-body>

												</md-tab>

												<md-tab>
													<md-tab-label>
														<md-button class="md-fab" style="background:url(images/crochet/DSC02552/thumb.jpg);" alt="Crochet Works" aria-label="Crochet works">
														</md-button>
														<br>
														<p style="margin-top:-.7em;">Crochet Works</p>

													</md-tab-label>
													<md-tab-body>
														<md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
															<md-grid-tile ng-repeat="image in imgSourceCrochet" class="md-whiteframe-4dp">
																<img src="{{image.thumb}}" alt="">
																<md-grid-tile-footer>
																	<h3>{{image.title}}</h3>
																	<h3>{{image.materials}}</h3>
																	<h3>{{image.dem}}</h3>
																</md-grid-tile-footer>
															</md-grid-tile>
														</md-grid-list>
													</md-tab-body>

												</md-tab>


												<md-tab>
													<md-tab-label>
														<md-button class="md-fab" style="background:url(images/quilts/DSC03850/thumb.jpg);" alt="Quilt Works" aria-label="Quilt Works">
														</md-button>
														<br>
														<p style="margin-top:-.7em;">Quilt Works</p>

													</md-tab-label>
													<md-tab-body>
														<md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
															<md-grid-tile ng-repeat="image in imgSourceQuilts" class="md-whiteframe-4dp">
																<img src="{{image.thumb}}" alt="">
																<md-grid-tile-footer>
																	<h3>{{image.title}}</h3>
																	<h3>{{image.materials}}</h3>
																	<h3>{{image.dem}}</h3>
																</md-grid-tile-footer>
															</md-grid-tile>
														</md-grid-list>
													</md-tab-body>

												</md-tab>

												<md-tab>
													<md-tab-label>
														<md-button class="md-fab" style="background:url(images/BC_Emb/DSCN0973/thumb.jpg);" alt="Birth-Control Embroidery Works" aria-label="Birth-Control Embroidery Works">
														</md-button>
														<br>
														<p style="margin-top:-.7em;">Birth Control Embroidery</p>

													</md-tab-label>
													<md-tab-body>
														<md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
															<md-grid-tile ng-repeat="image in imgSourceBC" class="md-whiteframe-4dp">
																<img src="{{image.thumb}}" alt="">
																<!-- <md-grid-tile-footer>
																	<h3>{{image.title}}</h3>
																	<h3>{{image.materials}}</h3>
																	<h3>{{image.dem}}</h3>
																</md-grid-tile-footer> -->
															</md-grid-tile>
														</md-grid-list>
													</md-tab-body>

												</md-tab>



												<md-tab>
													<md-tab-label>
														<md-button class="md-fab" style="background:url(images/fibers/HarmeningArizona/thumb.jpg);" alt="Fiber Works" aria-label="Fiber Works">
														</md-button>
														<br>
														<p style="margin-top:-.7em;">Fiber Works</p>

													</md-tab-label>
													<md-tab-body>
														<md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
															<md-grid-tile ng-repeat="image in imgSourceFibers" class="md-whiteframe-4dp">
																<img src="{{image.thumb}}" alt="">
																<md-grid-tile-footer>
																	<h3>{{image.title}}</h3>
																	<!-- <h3>{{image.materials}}</h3>
																	<h3>{{image.dem}}</h3> -->
																</md-grid-tile-footer>
															</md-grid-tile>
														</md-grid-list>

													</md-tab-body>

												</md-tab>

												<md-tab>
													<md-tab-label>
														<md-button class="md-fab" style="background:url(images/metalica/DSCN0068/thumb.jpg);" alt="Metalica Works" aria-label="Metalica Works">
														</md-button>
														<br>
														<p style="margin-top:-.7em;">Metalica Embroidery</p>

													</md-tab-label>
													<md-tab-body>
														<md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
															<md-grid-tile ng-repeat="image in imgSourceMetal" class="md-whiteframe-4dp">
																<img src="{{image.thumb}}" alt="">
																<md-grid-tile-footer>
																	<h3>{{image.title}}</h3>
																	<!-- <h3>{{image.materials}}</h3>
																	<h3>{{image.dem}}</h3> -->
																</md-grid-tile-footer>
															</md-grid-tile>
														</md-grid-list>

													</md-tab-body>

												</md-tab>

												<md-tab>
													<md-tab-label>
														<md-button class="md-fab" style="background:url(images/painting/DSC00393/thumb.jpg);" alt="Painting Works" aria-label="Painting Works">
														</md-button>
														<br>
														<p style="margin-top:-.7em;">Paintings</p>

													</md-tab-label>
													<md-tab-body>
														<md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
															<md-grid-tile ng-repeat="image in imgSourcePainting" class="md-whiteframe-4dp">
																<img src="{{image.thumb}}" alt="">
																<md-grid-tile-footer>
																	<h3>{{image.title}}</h3>
																	<h3>{{image.materials}}</h3>
																	<h3>{{image.dem}}</h3>
																</md-grid-tile-footer>
															</md-grid-tile>
														</md-grid-list>
													</md-tab-body>

												</md-tab>

												<md-tab>
													<md-tab-label>
														<md-button class="md-fab" style="background:url(images/matresses/oh_how_lady_like/thumb.jpg);" alt="Matress Works" aria-label="Matress Works">
														</md-button>
														<br>
														<p style="margin-top:-.7em;">Matresses</p>

													</md-tab-label>
													<md-tab-body>

														<md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
															<md-grid-tile ng-repeat="image in imgSourceMatresses" class="md-whiteframe-4dp">
																<img src="{{image.thumb}}" alt="">
																<md-grid-tile-footer>
																	<h3>{{image.title}}</h3>
																	<h3>{{image.materials}}</h3>
																	<h3>{{image.dem}}</h3>
																</md-grid-tile-footer>
															</md-grid-tile>
														</md-grid-list>

														<!-- <div class="m-p-g">

															<div class="m-p-g__thumbs gallery" data-google-image-layout data-max-height="350">

															<img src="images/matresses/cant_a_girl_get_some_privacy/thumb.jpg" alt="" data-full="images/matresses/cant_a_girl_get_some_privacy/cant_a_girl_get_some_privacy.jpg" class="m-p-g__thumbs-img">

															<img src="images/matresses/cant_a_girl_get_some_privacy_detail/thumb.jpg" alt="" data-full="images/matresses/cant_a_girl_get_some_privacy_detail/cant_a_girl_get_some_privacy_detail.jpg" class="m-p-g__thumbs-img">
															<img src="images/matresses/hard_night_of_clubbing/thumb.jpg" alt="" data-full="images/matresses/hard_night_of_clubbing/hard-night-of-clubbing.jpg" class="m-p-g__thumbs-img">
															<img src="images/matresses/mr_big_stuff/thumb.jpg" alt="" data-full="images/matresses/mr_big_stuff/mr-big-stuff.jpg" class="m-p-g__thumbs-img">
															<img src="images/matresses/mr_big_stuff_detail/thumb.jpg" alt="" data-full="images/matresses/mr_big_stuff_detail/mr-big-stuff-detail.jpg" class="m-p-g__thumbs-img"><img src="images/matresses/oh_how_lady_like/thumb.jpg" alt="" data-full="images/matresses/oh_how_lady_like/oh-how-lady-like.jpg" class="m-p-g__thumbs-img">
															<img src="images/matresses/oh_how_lady_like_detail/thumb.jpg" alt="" data-full="images/matresses/oh_how_lady_like_detail/oh-how-lady-like-detail.jpg" class="m-p-g__thumbs-img">

														</div>

														<div class="m-p-g__fullscreen"></div>


														</div> -->



													</md-tab-body>

												</md-tab>



											</md-tabs>


										</div>
									</md-card>


								</md-content>
							</md-tab-body>

						</md-tab>


					</md-tabs>







				</section>









	</div>
	</section>
	</md-content>

	<footer>

		<p class="footer-text">
			<i class="fa fa-copyright" aria-hidden="true"></i> 2017 Briena Harmening
		</p>



	</footer>



	</div>


	<script type="text/javascript" src="js/main.js"></script>

	<script src="js/mainController.js"></script>
	</script>





</body>

</html>
