

@import url('https://fonts.googleapis.com/css?family=Anton|Cormorant+Garamond|Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis');

body{
	padding-top: 4.375em;
	font-family: 'Dosis', sans-serif;

}
img{
	max-width:100%;
}
section{
	display: block;
}
li{
	display: list-item;
	text-align: -webkit-match-parent;
}

h2,h3,h4,p{
	font-family: 'Dosis', sans-serif;

}

footer{
	width: 100%;
	background-color: rgba(188,232,59,0.65);
	opacity: .8;
	margin: 0 0 -1px 0;
	padding: .5em 0;
	/*text-align: center;*/
	color:  #000;
	font-size: 1.1em;
}
.footer-text{
	margin-left: 1.3em;
}
.column{
	padding: 1em;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 28em;
	text-align: center;
}

.column img{
	width: 65%;
	border-radius: 0 30% 15% 30%;
	margin-bottom: 1.25em;

}
.column p {
  text-align: justify;
}

.column .btn {
  border: 0.125rem solid #1CBCBD; /* 2px */
  padding: 0.625rem 1.25rem; /* 10px 20px */
  display: inline-block;
  margin: 0.625em auto; /* 10px */
  font-size: 1.5em; /* 24px */
  text-decoration: none;
  color: #1CBCBD;
  transition: all 150ms ease-in-out;
}

.column .btn:hover {
  background-color: #1CBCBD;
  color: #fafafa;
}


.main {
  /*display: inline-block;*/
  padding: 1.5625em 0; /* 25px */
  width: 100%;
	min-height: 40em;
	padding: 15% 0 0 0;
}
.imgShadow{
	-webkit-box-shadow: 2px 7px 25px -2px rgba(0,0,0,0.43);
  -moz-box-shadow: 2px 7px 25px -2px rgba(0,0,0,0.43);
  box-shadow: 2px 7px 25px -2px rgba(0,0,0,0.43);
}


md-divider{
	margin: 0 .5em!important;
width: 95% !important;
padding: 0 -5% !important;
}

.textCenter{
	text-align: center;
}


md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
	background-color: rgba(250,250,250,0.8)!important;
}
.md-title{
	color:#000 !important;
	font-size: 1.5em !important;
}
.menu-btn {
	background-color: #fff !important;
	color: #000 !important;
	/*margin-top: 3em !important;*/
}


.container {
  width: 100%;
  max-width: 90em;
  margin: 0 auto;

}
.contentContainer{
	width: 95%;
	max-width: 90em;
	margin: .8em auto 0 auto;

	/*overflow: visible;*/
	min-height: 20em;

}
.cardStyle{
	max-width: 85%;
	margin: 0 auto;
}
.helloBack{
	max-width: 85%;
	margin: 0 auto 0 auto;
}

.helloBack h4 {
	margin: .6em 0;
	text-align: center !important;
	font-size: 2.5em;

}
.helloBack a{
	color: #000;
	text-decoration: none;
}
.helloBack:hover {
	text-shadow: 0.130rem 0.130rem 0.3rem #000;
}
.helloBack h2{

	font-size: 2em;
	margin: .8em 0 0 2em ;
}

/*#about{
	padding: 15% 0 10% 0;
}*/
#resume{
	padding: 5% 0 10% 0;
}
#work{

	padding: 10% 0 5% 0;

}




/*End Header*/

/* Hero Section */

#hero{
	background:
		linear-gradient(rgba(250,250,250,1), rgba(250,250,250,0.5)),
		url(images/landingPage.png) no-repeat top left;
  	color: #000;
  	text-align: center;
  	height: 40em;
  	padding: 1.5625em 0;
  	background-size: cover;

}


#hero img {
  max-width: 9.375em;
  /*border-radius: 50%;*/
   margin: 3.5em 0 0 0;
  -webkit-box-shadow: 2px 7px 25px -2px rgba(0,0,0,0.43);
  -moz-box-shadow: 2px 7px 25px -2px rgba(0,0,0,0.43);
  box-shadow: 2px 7px 25px -2px rgba(0,0,0,0.43);


}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: transparent !important;
    background: transparent !important;
}

md-tabs-canvas {
	height: 6em !important;
}

md-tabs-wrapper{
	/*background: #fff !important;*/
	color: #000 !important;
}
md-tabs .md-tab .md-ripple-container {
    display:none !important;
}
md-tabs .md-tab.md-active {
	color: #000 !important;
}



/* End Hero Section */





@media (min-height: 85em) {
	#hero{
		background:
			linear-gradient(rgba(250,250,250,1), rgba(250,250,250,0.5)),
			url(images/landingPage.png) no-repeat top left;
	  	color: #000;
	  	text-align: center;
	  	height: 78em;
	  	padding: 1.5625em 0;
	  	background-size: cover;

	}

}
@media (max-height: 64em) {
	#hero{
		background:
			linear-gradient(rgba(250,250,250,1), rgba(250,250,250,0.5)),
			url(images/landingPage.png) no-repeat top left;
	  	color: #000;
	  	text-align: center;
	  	height: 57em;
	  	padding: 1.5625em 0;
	  	background-size: cover;

	}

}
@media (max-height: 42em) {
	#hero{
		background:
			linear-gradient(rgba(250,250,250,1), rgba(250,250,250,0.5)),
			url(images/landingPage.png) no-repeat top left;
	  	color: #000;
	  	text-align: center;
	  	height: 40em;
	  	padding: 1.5625em 0;
	  	background-size: cover;

	}

}

@media (min-width: 44em) {
  .column {
    float: left;
    width: 33.333%; /* 100/3 */
    padding: 1em; /* 16px */
    margin: 0;
  }
	.contentColumn {
    float: left;
    width: 50%; /* 100/3 */
    padding: 1em; /* 16px */
    margin: 0;
  }

}


@media (max-width: : 58em) {
  .column {
    padding: 0.625em; /* 10px */
  }
	.popup {
	  margin: 25% auto;
		min-width: 50%;}



}

@media (max-width: 26em){
.social{
	padding: .3em 0;
}



.md-title{
	color:#000 !important;
	font-size: 1em !important;
}

.helloBack {
	font-size: 1em;
	padding-bottom: 1em;
}

}
