<md-dialog>
<div role="dialog" aria-label="Slide preview" layout="column" layout-align="center center">
<md-toolbar>
  <div layout="row">
    <md-button class="md-icon-button" style="float:right;" ng-click="hide()">
      <md-icon><i class="material-icons" style="color:#000;">close</i></md-icon>
    </md-button>
  </div>
</md-toolbar>

  <div class="demo-dialog-content">

    <div >

      <img class="popImages" flex src="{{img}}">
      <h5 layout="column">{{title}}</h5>
    </div>
    <div class="">

        <div ng-repeat="image in arr">
            <a ng-click="changeImage($index)"><img class="popImages"  src="{{image.image}}"></a>
        </div>

    </div>

  </div>


</div>
</md-dialog>
